{% extends 'base.html.twig' %}

{% block titulo %}
    <h1 class="m-0 text-dark">Perfil</h1>
{% endblock %}

{% block camino %}
    <li class="breadcrumb-item"><a href="{{ path('index') }}">inicio</a></li>
    {% if app.user.getRolPadre == "ROLE_ADMIN" %}
        <li class="breadcrumb-item"><a href="{{ path('user_list') }}">usuarios</a></li>
    {% endif %}
    <li class="breadcrumb-item active">perfil</li>
{% endblock %}

{% block contenido %}

    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                            {% if usuario.getRolPadre == "ROLE_USER" %}
                                src="{{ asset('img/user_96px.png') }}"
                            {% elseif usuario.getRolPadre == "ROLE_TRAB" or usuario.getRolPadre == "ROLE_TRABN" %}
                                src="{{ asset('img/worker_male_96px.png') }}"
                            {% else %}
                                src="{{ asset('img/administrator_male_96px.png') }}"
                            {% endif %}
                         alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ usuario.nombre }} {{ usuario.apellidos }}</h3>

                <p class="text-muted text-center">( {{ usuario.username }} )</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Saldo</b> <a class="float-right">${{ usuario.saldo |number_format(2, '.', ',') }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Deuda</b> <a class="float-right">${{ usuario.deuda |number_format(2, '.', ',') }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Registro</b> <a class="float-right">{{ usuario.registro | date("d/m/Y g:ia") }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Contacto</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-mail-bulk mr-1"></i> Correo </strong>
                <p class="text-muted">{{ usuario.correo }}</p>
                <hr>
                <strong><i class="fas fa-phone-alt mr-1"></i> Teléfono </strong>
                <p class="text-muted">{{ usuario.telf }}</p>
                <hr>
                <strong><i class="fas fa-map-marker-alt mr-1"></i> Dirección </strong>
                <p class="text-muted">{{ usuario.dir }}</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link " href="#pedidos" data-toggle="tab">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link " href="#timeline" data-toggle="tab">Historial</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Configuración</a>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body ">
                <div class="tab-content">
                    <div class="tab-pane table-responsive" id="pedidos">
                        <h5 class="card-title float-right p-2">Total: {{ pedAll|length }}</h5>
                        <input class="form-control" type="text" id="buscarpedido"
                               onkeyup="buscar('buscarpedido','tablapedidos', 3)" placeholder="Buscar productos.">
                        <table id="tablapedidos" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Método de pago</th>
                                <th>Fecha</th>
                                <th>Productos</th>
                                <th>Entrega</th>
                                <th>Transporte</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for p in pedAll %}
                                <tr>
                                    <td>
                                        {% if p.estado == "confección" %}
                                            <span class="badge badge-primary">{{ p.estado }}</span>
                                        {% elseif p.estado == 'pendiente' %}
                                            <span class="badge badge-warning">{{ p.estado }}</span>
                                        {% elseif p.estado == 'aceptado' %}
                                            <span class="badge badge-info">{{ p.estado }}</span>
                                        {% elseif p.estado == 'completado' %}
                                            <span class="badge badge-success">{{ p.estado }}</span>
                                        {% elseif p.estado == 'cancelado' %}
                                            <span class="badge badge-danger">{{ p.estado }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ p.metpago }}</td>
                                    <td>{{ p.fecha | date("d/m/Y g:ia") }}</td>
                                    <td>
                                        {% for prod in p.getProductosPedido %}
                                            <p>( {{ prod.cantidad }} ) {{ prod.getNombre }} - ${{ prod.precio }}</p>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if p.nombPer %}
                                            <p>{{ p.nombPer }}, con ci: {{ p.ciPer }}, número de teléfono
                                                : {{ p.telPer }},
                                                municipio {{ p.transporte.municipio }}, direccíon {{ p.dirPer }}.</p>
                                        {% else %}
                                            <p>Municipio: {{ p.transporte.municipio }},
                                                dirección: {{ p.getCliente.getDir }},
                                                teléfono: {{ p.getCliente.getTelf }}</p>
                                        {% endif %}
                                    </td>
                                    <td>${{ p.transporte.tarifa |number_format(2, '.', ',') }}</td>
                                    <td>${{ (p.total + p.transporte.tarifa) | number_format(2, '.', ',') }}
                                        <p style="font-size: small">
                                            ({{ ( (p.transporte.tarifa+p.total) * config.cambiocup) |number_format(2, '.', ',') }}
                                            cup)
                                        </p>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">No existen pedidos registrados.</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <div class="">
                            {{ knp_pagination_render(pedAll) }}
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        <div class="timeline timeline-inverse">
                            <!-- timeline time label -->
                            {% if logs | length > 0 %}
                                {% set dia = "ok" %}
                                {% for l in logs %}
                                    {% if dia !=  l.fecha | date("d/m/Y") %}
                                        <div class="time-label">
                                    <span class="bg-danger">
                                      {{ l.fecha | date("d/m/Y") }}{% set dia = l.fecha | date("d/m/Y") %}
                                    </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                    {% endif %}
                                    <!-- timeline item -->
                                    <div>
                                        {% if l.tipo == "PERMISOS" %}
                                            <i class="fas fa-key bg-primary"></i>
                                        {% elseif l.tipo == "RECARGA" %}
                                            <i class="fas fa-money-bill bg-primary"></i>
                                        {% elseif l.tipo == "ELIMINAR USUARIO" %}
                                            <i class="fas fa-user-minus bg-primary"></i>
                                        {% elseif l.tipo == "DEUDA" %}
                                            <i class="fas fa-coins bg-primary"></i>
                                        {% elseif l.tipo == "PEDIDO" %}
                                            <i class="fas fa-shopping-cart bg-primary"></i>
                                        {% else %}
                                            <i class="fas fa-question bg-primary"></i>
                                        {% endif %}
                                        <div class="timeline-item">
                                        <span class="time">
                                            <i class="far fa-clock"></i>
                                            {{ l.fecha | date("g:ia") }}
                                        </span>
                                            <h3 class="timeline-header">{{ l.tipo }}</h3>
                                            <div class="timeline-body">
                                                {{ l.descrip }}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                <div>
                                    <i class="far fa-clock bg-gray"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="">
                            {{ knp_pagination_render(logs) }}
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="active tab-pane" id="settings">
                        <h4>Datos Personales</h4>
                        <div class="row">
                            <hr>
                            <div class="col-sm-6">
                                {{ form_start(formDatPer) }}
                                {{ form_row(formDatPer._token) }}
                                {{ form_row(formDatPer.nombre) }}
                                {{ form_row(formDatPer.apellidos) }}
                                {{ form_row(formDatPer.dir) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_row(formDatPer.telf) }}
                                {{ form_row(formDatPer.correo) }}
                                {{ form_row(formDatPer.idTelegram) }}
                                <div class="callout callout-info">
                                    <h6><i class="fas fa-paper-plane"></i> Notificaciones por Telegram!</h6>
                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#telegrampasos">como saber mi id de telegram.
                                    </button>
                                </div>
                                <div class="modal fade" id="telegrampasos" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="form modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Pasos para recibir
                                                    notificaciones por telegram.</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>0 Tener Telegram en el móvil.</p>
                                                <p>1 Conocer tu id en telegram. Para esto busca el bot userinfobot. </p>
                                                <img class="img-fluid elevation-2"
                                                     src="{{ asset('img/pasos telegram/telegram1.png') }}">
                                                <p>2 copia tu id de telegram. </p>
                                                <img class="img-fluid elevation-2"
                                                     src="{{ asset('img/pasos telegram/telegram2.png') }}">
                                                <p>3 Registra tu id en nuestra web. </p>
                                                <img class="img-fluid elevation-2"
                                                     src="{{ asset('img/pasos telegram/telegram3.png') }}">
                                                <p>4 Busca el bot de nuestro sitio tienda_vc_entrega_bot y el te
                                                    notifiacará todo.
                                                    Listo! </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    cerrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button style="float: right; margin-left: 5px;" class="btn btn-default" type="reset">
                                Cancelar
                            </button>
                            <button style="float: right; margin-left: 5px;" class="btn btn-success" type="submit"><i
                                        class="fa fa-save fa-lg mr-2"></i> Guardar
                            </button>

                            {{ form_end(formDatPer) }}
                        </div>
                        <hr>
                        <h4>Datos del sistema</h4>
                        {% if app.user.getRolPadre == "ROLE_ADMIN" %}
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_start(formRol) }}
                                    {{ form_row(formRol.Rol) }}
                                    <button class="btn btn-success"
                                            type="submit"><i
                                                class="fa fa-save fa-lg mr-2"></i> Guardar
                                    </button>
                                    {{ form_end(formRol) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_start(formRec) }}
                                    {{ form_row(formRec.Money) }}
                                    {{ form_row(formRec.deuda) }}
                                    <button class="btn btn-success"
                                            type="submit"><i
                                                class="fa fa-money-bill fa-lg mr-2"></i> Recargar
                                    </button>
                                    {{ form_end(formRec) }}
                                </div>
                                {% if usuario.deuda > 0 %}
                                    <div class="col-sm-4">
                                        {{ form_start(formPagarDeuda) }}
                                        {{ form_row(formPagarDeuda.Money) }}
                                        <button class="btn btn-danger"><i
                                                    class="fa fa-money-bill fa-lg mr-2"></i> Pagar deuda
                                        </button>
                                        {{ form_end(formPagarDeuda) }}
                                    </div>
                                {% endif %}
                            </div>
                            <hr>
                        {% endif %}

                        <button class="btn btn-warning m-1" data-toggle="modal" data-target="#myModal1"><i
                                    class="fa fa-key fa-lg"></i> restablecer
                            contraseña
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="form modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Restablecer contraseña</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_start(formResetPass) }}
                                        {{ form_widget(formResetPass.newPassword) }}
                                        <button class="btn btn-success"> Guardar</button>
                                        {{ form_end(formResetPass) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if app.user.getRolPadre == "ROLE_ADMIN" %}
                            <button class="btn btn-danger m-1" data-toggle="modal" data-target="#myModal"><i
                                        class="fa fa-user-minus fa-lg"></i> Eliminar usuario
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="form modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Eliminar usuario</h4>
                                        </div>
                                        <form action="{{ path('user_delete', {'id': usuario.id,'id2':app.user.id}) }}"
                                              method="post">
                                            <div class="modal-body">
                                                <p>¿Está seguro de eliminar este usuario?</p>
                                                <input type="hidden" name="token"
                                                       value="{{ csrf_token('delete') }}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal"> No
                                                </button>
                                                <button type="submit" class="btn btn-danger "> Si</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->


{% endblock %}